#main_top{
    background-color: azure;
    border-bottom: 12px solid black;
    height: 150px;
    width: 100%;
}
.main_topLeft{
    padding-top: 20px;
    padding-left: 30px;
    width: 55%;
    height: 130px;
    float: left;
}
.main_topRight1{
    width: 43%;
    height: 30px;
    text-align: right;
    font-size: 20px;
    float: left;
}
.main_topRight2{
    width: 43%;
    padding-top: 50px;
    height: 40px;
    float: left;
    text-align: left;
}
.main_class1{
    border-right: 1px solid black;
    padding-top: 10px;
    text-align: center;
    width: 100px;
    height: 38px;
    float: left;
}
.main_class2{
    padding-top: 10px;
    text-align: center;
    width: 100px;
    height: 38px;
    float: left;
}

#download_center{
    width: 100%;
    height: 400px;

}
.download_div{
    border: 1px solid black;
    text-align: left;
    width: 32%;
    height: 50%;
    float: left;
    font-size: 30px;
    font-family: 黑体;

}
.download_div2{
    height: 50%;
    width: 20%;
    float: left;
}
.download_div3{
    padding-top:2%;
    height: 20%;
    width: 41%;
    float: left;

}
.download_div4{
    font-size: 10px;
    color: darkgray;
    height: 20%;
    width: 50%;
    float: left;

}
.download_div5{
    height: 20px;
    width:140px;
}
.download_div6{
    height: 10%;
    width:80%;
    float: left;
}
.download_div7{
    text-align: center;
    width: 100%;
    height: 40%;
    font-size: 20px;
    color: black;
    float: left;
}
.download_input{
    padding-top: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: greenyellow;
    width:33%;
    height: 25%;
    float: left;
}
a{
    text-decoration: none;
}
a:visited{
    color: blue;
}
a:hover{
    color:yellow;
}

a.a2:link{
    color: black;
}
a.a2:visited{
    color: black;
}
a.a2:hover{
    color:yellow;
}
